h1 Kurti forumo temą

form.form
  .form-group
    label.control-label(for="topic-title") Temos pavadinimas
    input.form-control#topic-title(placeholder="Tema 1")

  .form-group
    label.control-label(for="topic-message") Pradinė žinutė
    textarea.form-control#topic-message(rows="15" placeholder="Žinutė")

  .form-group
    a.btn.btn-primary(href="/forum") Išsaugoti
