extends ../_main_layout

block head
  link(rel="stylesheet", href="/assets/css/login.css")

block body
  .container-small
    h1 Dienynas.lt
    
    .panel.panel-default
      .panel-heading
        h3.panel-title= title

      .panel-body
        != yield
