extends ../_main_layout

block head
  link(rel="stylesheet", href="/assets/css/login.css")

block content
  div.full-height(horizontal layout center center-justified)
    paper-shadow.login-container
      != yield
