form.form
  .form-group
    input.form-control(type="text" placeholder="Prisijungimo vardas")

  .form-group
    input.form-control(type="password" placeholder="Slaptažodis")

  .form-group
    .btn.btn-lg.btn-block.btn-primary Prisijungti
