form.form
  .form-group
    input.form-control(type="text" placeholder="Prisijungimo vardas")

  .form-group
    input.form-control(type="password" placeholder="Slaptažodis")

  .form-group
    a.btn.btn-lg.btn-block.btn-primary(href="/") Prisijungti
