!!!
html
  head
    title Dienynas
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Stylesheets
    link(rel="stylesheet", href="/assets/css/main.css")

    //- Javascripts
    script(src="/assets/bower/webcomponentsjs/webcomponents.js")

    //- Polymer components
    link(rel="import" href="/assets/bower/core-elements/core-elements.html")
    link(rel="import" href="/assets/bower/paper-button/paper-button.html")
  body
    core-scaffold
      core-header-panel(navigation flex mode="seamed")
        core-toolbar Dienynas
        core-menu(theme="core-light-theme")
          core-item(icon="settings" label="item1")
          core-item(icon="settings" label="item2")

      div(tool) Main page
      div
        != yield
