!!!
html
  head
    title Dienynas
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Stylesheets
    link(rel="stylesheet", href="/assets/bower/normalize.css/normalize.css")
    link(rel="stylesheet", href="/assets/css/main.css")
    link(rel="stylesheet", href="/assets/css/login.css")

    //- Javascripts
    script(src="/assets/bower/webcomponentsjs/webcomponents.js")

    //- Polymer components
    link(rel="import" href="/assets/bower/core-elements/core-elements.html")
    link(rel="import" href="/assets/bower/paper-elements/paper-elements.html")

    block head

  body(fullbleed)
    block content
