paper-item.main Dienynas

paper-item
  a(href="/" layout horizontal center)
    core-icon(icon="assessment")
    | Pažymiai

paper-item
  core-icon(icon="view-list")
  | Pamokos

paper-item
  core-icon(icon="work")
  | Dalykai

paper-item
  core-icon(icon="account-child")
  | Vartotojai

paper-item
  core-icon(icon="question-answer")
  | Forumas
