- function arraysIdentical(a, b) {
-   var i = a.length;
-   if (i != b.length) return false;
-   while (i--) {
-     if (a[i] !== b[i]) return false;
-   }
-   return true;
- }

- function active_for(path) {
-   if(arraysIdentical(current.path, path)) {
-     return 'active';
-   } else {
-     return '';
-   }
- }

.sidebar
  a.sidebar-item(href="/grades" class=active_for(['grades', 'index']))
    i.fa.fa-fw.fa-trophy.sidebar-icon
    | Pažymiai

  .sidebar-item
    i.fa.fa-fw.fa-university.sidebar-icon
    | Pamokos

  a.sidebar-item(href="/subjects" class=active_for(['subjects', 'index']))
    i.fa.fa-fw.fa-graduation-cap.sidebar-icon
    | Dalykai

  .sidebar-item
    i.fa.fa-fw.fa-line-chart.sidebar-icon
    | Ataskaitos

  .sidebar-item
    i.fa.fa-fw.fa-users.sidebar-icon
    | Vartotojai

  a.sidebar-item(href="/forum/" class=active_for(['forum', 'index']))
    i.fa.fa-fw.fa-comments.sidebar-icon
    | Forumas
