- function active_for(page) {
-   if(current.source == page) {
-     return 'active';
-   } else {
-     return '';
-   }
- }

.sidebar
  a.sidebar-item(href="/manage/grades" class="#{ active_for('grades') }")
    i.fa.fa-fw.fa-trophy.sidebar-icon
    | Pažymiai

  .sidebar-item
    i.fa.fa-fw.fa-university.sidebar-icon
    | Pamokos

  .sidebar-item
    i.fa.fa-fw.fa-graduation-cap.sidebar-icon
    | Dalykai

  .sidebar-item
    i.fa.fa-fw.fa-line-chart.sidebar-icon
    | Ataskaitos

  .sidebar-item
    i.fa.fa-fw.fa-users.sidebar-icon
    | Vartotojai

  .sidebar-item
    i.fa.fa-fw.fa-comments.sidebar-icon
    | Forumas
