.sidebar
  .sidebar-item.active
    i.fa.fa-fw.fa-trophy.sidebar-icon
    | Pažymiai

  .sidebar-item.active
    i.fa.fa-fw.fa-university.sidebar-icon
    | Pamokos

  .sidebar-item.active
    i.fa.fa-fw.fa-graduation-cap.sidebar-icon
    | Dalykai

  .sidebar-item.active
    i.fa.fa-fw.fa-line-chart.sidebar-icon
    | Ataskaitos

  .sidebar-item.active
    i.fa.fa-fw.fa-users.sidebar-icon
    | Vartotojai

  .sidebar-item.active
    i.fa.fa-fw.fa-comments.sidebar-icon
    | Forumas
