form.form
  .form-group
    label.control-label(for="subject-title") Pavadinimas
    input.form-control#subject-title(placeholder="Pavadinimas" value=subject.title)

  .form-group
    label.control-label(for="subject-message") Aprašymas
    textarea.form-control#subject-message(rows="15" placeholder="Aprašymas")= subject.description

  strong Dėstoma klasėms

  .row
    .form-group.col-sm-6
      label.control-label(for="subject-grade-from") Nuo
      select.form-control#subject-grade-from
        - for (var i = 0; i < 12; i++)
          option(selected=(subject.grades.from == i + 1))= i + 1

    .form-group.col-sm-6
      label.control-label(for="subject-grade-to") Iki
      select.form-control#subject-grade-to(value=subject.grades.to)
        - for (var i = 0; i < 12; i++)
          option(selected=(subject.grades.to == i + 1))= i + 1

  .form-group
    a.btn.btn-primary(href="/subjects") Išsaugoti
