h1 Pridėti administratorių

form.form
  .form-group
    label.control-label(for="subject-title") Vartotojo vardas
    input.form-control#subject-title(placeholder="Vartotojo vardas")

  .form-group
    label.control-label(for="subject-title") Slaptažodis
    input.form-control#subject-title(placeholder="Slaptažodis" type="password")

  .form-group
    label.control-label(for="subject-title") Pakartotas slaptažodis
    input.form-control#subject-title(placeholder="Pakartotas slaptažodis" type="password")

  .form-group
    a.btn.btn-primary(href="/users") Išsaugoti
