$sidebar-width: 250px;
$brand-color: #5677fc;

@import 'grades';
@import 'forum';

body {
  margin-top: 50px;
}

.sidebar {
  position: absolute;
  top: 50px;
  bottom: 0px;
  width: $sidebar-width;
  background-color: #444;
  color: #eee;
}

.content {
  padding: 10px 30px;
}

.sidebar-item {
  line-height: 30px;
  vertical-align: middle;
  padding: 10px 20px;

  &:hover, &.active {
    background-color: #333;
    color: white;
  }
}

a.sidebar-item {
  display: block;
  color: #eee;

  &:hover {
    text-decoration: none;
  }
}

.sidebar-icon {
  margin-right: 10px;
}

.content {
  margin-left: $sidebar-width;
}

.container-small {
  width: auto;
  margin: 10px;

  @media (min-width: 768px) {
    width: 500px;
    margin: 10px auto;
  }
}

.navbar-inverse {
  background-color: $brand-color;

  .navbar-brand {
    color: #eee;
  }

  .navbar-nav > li > a {
    color: #eee;
  }
}

.navbar-fixed-top .navbar-collapse {
  padding-right: 20px;
}

.text-right {
  text-align: right;
}

.popover {
  z-index: 1070;
}

.usertype {
  display: none;
}
